.page.home{
  height: 100vh;
  padding: 0;
  background-color: $politico-red;
  color: white;
  text-align: center;

  .center-box{
    margin: 9vh 0 0 15vh;
    display: inline-block;
    text-align: left;

    @media(max-width:600px){
      margin: 15vh 0 0 0;
      padding: 0 10px;
    }
  }
  .brand{
    text-align: left;
    padding:0 0 0 10px;
  }
  h1{
    @extend %display-font;
    margin: 0px 0 20px;
    font-size: 10vw;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 6.6vw;

    @media(max-width:600px){
      margin: 10px 0 0 -7px;
      font-size: 22vw;
      font-weight: 900;
      letter-spacing: 0;
      line-height: 13vw;
    }

    span{
      display: block;
      &:nth-child(1){
        opacity: 0.05;
      }
      &:nth-child(2){
        opacity: 0.1;
      }
      &:nth-child(3){
        opacity: 0.2;
      }
      &:nth-child(4){
        opacity: 0.3;
      }
      &:nth-child(5){
        opacity: 0.5;
      }
    }

  }
  .links {
    @extend %body-font;
    margin: 20px auto;
    font-size: 24px;

    @media(max-width: 768px){
      font-size: 18px;
    }

    @media(max-width: 600px){
      padding-left: 15px;
    }

    a{
      margin-right: 50px;
      opacity: 1;
      font-weight: normal;
      transition: all .2s;
      text-decoration: none;
      color: #fff;
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .github{
    text-align: center;
    font-size: 36px;
    position: fixed;
    bottom: 15px;
    right: 20px;
    a{
      color: white;
      opacity: 0.4;
      cursor: pointer;
      &:hover{
        opacity: 1;
      }
    }
  }
}
