article{
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 20px;
}


h1, h2, h3, h4, h5, h6{
    @extend %display-font;
    font-weight: 700;
    a{
      color: $politico-red;
      // &:hover{
      //   color: lighten($politico-red, .1);
      // }
    }
}

h2, h3, h4, h5, h6{
  color: $politico-red;
}

h2{
    font-size: 3rem;
    line-height: 1.3;
}

h3{
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 200;
}
h4{
  font-size: 1.5rem;

}
