article{
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 20px;
}

p{ margin: 0 0 1.618rem 0;}


h1, h2, h3, h4, h5, h6{
    @extend %display-font;
    font-weight: 700;
    a{
      color: $politico-red;
      // &:hover{
      //   color: lighten($politico-red, .1);
      // }
    }
}

h2, h3, h4, h5, h6{
  color: $politico-red;
}

h2{
    font-size: 3rem;
    line-height: 1.3;
}

h3{
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 200;
}
h4{
  font-size: 1.5rem;

}


.button{
  border:1px solid $politico-red;
  background-color: $politico-red;
  color: #fff;

  &:hover{
    background-color:#fff;
    color:  $politico-red;
    border:1px solid $politico-red;
  }
}
