header{
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid $politico-red;
  @include clearfix;

  @media(max-width: 600px){
    padding: 10px 0px 10px 20px;
  }

  .left{
    width: 150px;
    margin-top: 2px;
    float: left;
    .brand{
      color: $politico-red;
      font-size: 14px;
      a{
        text-decoration: none;
      }
      color: $politico-red;
      b{
        font-size: 12px;
        vertical-align: middle;
        margin-top: -4px;
        display: inline-block;
      }
    }

  }

  nav {
    @extend %body-font;
    display: inline-block;
    width: calc(100% - 150px);
    margin: 0;
    font-size: 14px;
    text-align: right;
    a{
      margin-right: 21px;
      opacity: 0.8;
      transition: all .2s;
      text-decoration: none;
      color: $politico-red;
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
