@import "~Theme/colors";
@import "~Theme/mixins";
@import "~Theme/fonts";

.component :global {
  header {
    height: 4rem;
    background-color: white;

    @media (min-width: 600px) {
      height: 6rem;
    }

    position: relative;
    .global-brand {
      position: absolute;
      left: 33%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      @media (min-width: 420px) {
        left: 50%;
      }

      .icon-politico::before {
        font-size: 18px;
        text-align: center;

        @media (min-width: 600px) {
          font-size: 34px;
        }
      }
    }

    span {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 11px;
      margin-right: 20px;
      line-height: 4rem;
      @media (min-width: 600px) {
        line-height: 6rem;
      }
    }

    .home {
      line-height: 4rem;
      margin-left: 20px;
      display: inline-block;
      margin-top: 4px;

      @media (min-width: 600px) {
        line-height: 6rem;
      }
      svg {
        fill: $politico-red;
      }
    }

    nav {
      float: right;
      @extend %body-font;
    }
  }
}
