@import "~Theme/colors";
@import "~Theme/mixins";
@import "~Theme/fonts";

.component :global {
  header {
    position: relative;
    height: 4rem;
    background-color: $midnight;

    a {
      color: white;
    }

    nav a {
      color: rgba(255,255,255,0.4);
      &.active{
        color: white;
      }
      &:hover{
        color: white;
      }
    }

    @media (min-width: 600px) {
      height: 6rem;
    }

    position: relative;
    .global-brand {
      @extend %body-font;
      width: 100px;
      margin-top: 20px;
      margin-left: 10px;
      display: inline-block;
      @media (min-width: 420px) {
        width: 200px;
      }
      @media (min-width: 600px) {
        margin-top: 26px;
        margin-left: 20px;
      }

      .team{
        display: none;
        margin-top: -2px;
        font-size: 22px;
        font-weight: bold;
        @media (min-width: 600px) {
          display: block;
        }
      }


      .icon-politico::before {
        font-size: 20px;

        @media (min-width: 600px) {
          font-size: 8px;
          margin-left: 2px;
        }
      }
    }

    span {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 11px;
      margin-right: 20px;
      line-height: 4rem;
      @media (min-width: 600px) {
        line-height: 6rem;
      }
    }

    #nav-chart{
      position: absolute;
      width: 0;
      height: 0;
      top: 0;
      left: 150px;
      @media (min-width: 600px) {
        width: calc(100% - 370px);
        height: 96px;
      }
      @media (min-width: 769px) {
        width: calc(100% - 450px);
        height: 96px;
      }
    }

    nav {
      float: right;
      @extend %body-font;
      color: white;
    }
  }
}
