@import "~Theme/colors";
@import "~Theme/mixins";
@import "~Theme/fonts";

.component :global {
  header {
    height: 6rem;
    border-bottom: solid #ddd 1px;

    position: relative;
    .global-brand {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      .icon-politico::before {
        font-size: 34px;
        text-align: center;
      }
    }

    span {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 11px;
      margin-right: 20px;
      line-height: 6rem;
    }

    .home {
      line-height: 6rem;
      margin-left: 20px;
      display: inline-block;
      svg {
        fill: $politico-red;
      }
    }

    nav {
      float: right;
    }
  }
}
