@import "~Theme/fonts";
@import "~Theme/mixins";

.component :global {
  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .staffer {
    margin: 10px 0;

    h5 {
      font-size: 0.85rem;
    }

    a {
      color: #282828;
    }

    .topline {
      @include clearfix;
      @extend %body-font;
    }
    .profile {
      float: left;
      display: inline-block;

      img {
        border-radius: 50%;
        width: 65px;
        @media (min-width: 650px) {
          width: 95px;
        }
      }
    }
    .identity {
      float: left;
      display: inline-block;
      padding: 10px 20px;

      h4 {
        margin: 0;
        font-size: 25px;
        line-height: 1;
        font-weight: 200;
        @extend %body-font;

        @media (min-width: 650px) {
          font-size: 32px;
        }
      }
      p {
        margin: 0;
      }
    }
  }
}
