article {
  max-width: 675px;
  margin: 0 auto;
  padding: 30px 15px 0;

  &:first-of-type {
    margin-top: 10px;

    @media (min-width: 600px) {
      margin-top: 40px;
    }
  }
}

p {
  margin: 0 0 1.618rem 0;
  color: black;
}

h1 {
  font-family: $din;
}

h2,
h3,
h4,
h6 {
  @extend %display-font;
  font-weight: 500;
  color: black;
  a {
    color: $politico-red;
  }
}

h2 {
  @extend %display-font;
  font-size: 28px;
  margin-top: 0.5rem;

  @media (min-width: 600px) {
    margin-top: 4.5rem;
    font-size: 46px;
  }
}
h3 {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 200;
  @media (min-width: 600px) {
    font-size: 2rem;
  }
}
h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 0.75rem;
}

.page {
  padding-bottom: 10rem;
  border-bottom: 10px solid $politico-red;
}

.button {
  border: 1px solid $politico-red;
  background-color: $politico-red;
  color: #fff;

  &:hover {
    background-color: #fff;
    color: $politico-red;
    border: 1px solid $politico-red;
  }
}

ul {
  list-style-type: circle;
  padding-left: 25px;
  margin-bottom: 20px;
}
