@import "colors";
@import "fonts";
@import "mixins";
@import "bulma";
@import "elements";

body {
  background-color: #fafafb;
}
a {
  color: $politico-red;
  line-height: 1;
  &:hover {
    color: $politico-red;
    text-decoration: none;
  }
}
