@import "~Theme/colors";
@import "~Theme/fonts";
@import "~Theme/mixins";

.component :global {
  height: 100vh;
  padding: 0;
  background-color: #37344d;

  color: white;

  .hero {
    position: relative;

    #chart{
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
    }
  }



  .center-box {
    padding: 21% 0;
    text-align: left;
    display: block;
    margin: 0 auto;

    @media (max-width: 600px) {
      margin: 24vh 0 0 0;
      padding: 0 10px;
    }
  }
  .brand {
    opacity: 0;
    @include animation('fade-in 1s linear');
    animation-delay: 0s;

    text-align: left;
    padding-left: 5px;
    margin-bottom: 5px;

    a {
      color: white;
      cursor: pointer;
    }
  }
  h1 {
    opacity: 0;
    @include animation('fade-in 1s linear');
    animation-delay: 0s;


    @extend %body-font;
    font-size: 18vw;
    font-weight: 900;
    letter-spacing: 0;
    margin-top: 5px;
    line-height: 0.8;


    @media (min-width: 600px) {
      font-size: 10vw;
      font-weight: 900;
      letter-spacing: 0;
      line-height: 0.8;
    }
  }
  .links {
    opacity: 0;
    @include animation('fade-in 1s linear');
    animation-delay: 0.25s;
    @extend %body-font;
    margin: 0px auto;
    font-size: 18px;

    @media (min-width: 768px) {
      font-size: 24px;
    }

    a {
      margin-right: 10px;
      opacity: 1;
      font-weight: normal;
      transition: all 0.2s;
      text-decoration: none;
      color: #fff;
      font-size: 1rem;
      cursor: pointer;

      padding-right: 10px;

      @media (min-width: 600px) {
        font-size: 1rem;
      }
      &:hover {
        text-decoration: underline;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .github {
    text-align: center;
    font-size: 36px;
    position: fixed;
    bottom: 15px;
    right: 20px;
    a {
      color: white;
      opacity: 0.4;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
  }
}
