<!DOCTYPE html>
<html>
  <head>
    <title>POLITICO Interactive News</title>
    <meta name="description" content="The latest jobs, open source software, and thoughts from the POLITICO Interactive News Team">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "templates/metatags.njk" %}
    <link rel="stylesheet" type="text/css" href="https://www.politico.com/interactives/cdn/fonts/base-icons/politico-base-icons.min.css">
    <!--Typekit-->
    <link rel="stylesheet" href="https://use.typekit.net/ogn0czn.css">
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <!-- end -->
  </head>
  <body>
    <div id="app"></div>
    <script src="js/app.jsx"></script>
  </body>
</html>
