.header{
  height: 100vh;
  padding: 0;
  background-color: $politico;
  color: white;
  text-align: center;
  .center-box{
    margin: 40vh auto;
    display: inline-block;
    text-align: left;
  }
  h1{
    @extend %display-font;
    margin: 0;
    font-size: 45px;
    font-weight: normal;
  }
  p {
    @extend %body-font;
    margin: 0;
    font-size: 16px;
    a{
      margin-right: 15px;
      opacity: 0.4;
      transition: all .2s;
      cursor: pointer;
      &:hover{
        opacity: 1;
      }
    }
  }
}
